@import 'tailwindcss';

:root {
  font-family: var(--font-instrument-sans), sans-serif;
}

body {
  font-family: var(--font-outfit), sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  color: #404040;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  h1,
  h2 {
    font-family: var(--font-instrument-sans), sans-serif;
  }
}
